*{
    margin:0px;
    padding:0px;
}
body{
    background-image: url('homepage.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
   

}
#navbar{
    cursor: pointer; 
    display:flex;
    align-items: center;
    width:100%;
    background-color: black;
    }
#navbar,a{
    text-decoration: none;
    color:snow;
    }
   
.logo,h1{
    padding-top:10px
}
.logo{
    display:flex;
    gap:10px;
}
li{
    display:inline-block;
    padding-top:12px;
    padding-left:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
}
ul{
    padding-left:20%;       
 }

 .input-container {
    position: relative;
    width: 300px;
}

input[type="text"] {
    width: 100%; /* Full width of the container */
    margin-left:100px;
    padding: 10px 40px 10px 40px; /* Add space for the button */
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.button1, .button2 {
    position: absolute;
    top: 50%; /* Align buttons vertically */
    padding-left: 90px;
    transform: translateY(-50%); /* Center buttons vertically */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.button1{
    margin-left:100%;
    left: 30px;
}
.button2{
    margin-left:100%;
    left: 100px;
}
.button2:hover{
    background-color: #ccc;
    color:black;
}
.button1:hover{
    background-color: #ccc;
    color:black;
}
#home{
    display:flex;
    
  }
.homepage{
    display:inline-block;
    height:100vh;
}
.header{
   color:#fff;
    width:300px;
    height:200px;
    font-size: xx-large;
    letter-spacing: 2px;
    margin: 150px 0px 0px 200px ;
    
}
.para{
    
    color:	#ffffff;
    width:350px;
    height:150px;
    font-size: large;
    margin: 0px 0px 0px 200px;
    font-family: Arial, Helvetica, sans-serif;
    }
.book{
    
    margin:0px 0px 0px 200px;
}
#book{
     font-size: medium;
     background-color: #007bff;
     padding:5px;
     border:none;
     color:white;
     cursor:pointer;
     }
#book:hover{
    background-color: #ccc;
    color:black;
}
#navbar li:hover{
    font-size: xx-large;
}
.sticky{
    position:sticky;
    top:0;  
}
   .border-line {
    height: 100px;
    border-left: 2px solid black; /* Line thickness and color */
    padding:40px;;
    margin:32px;
}
.social_container a svg{
display:flex;
width:64px;
gap:20px;
padding:10px;
fill:greenyellow;
}
